.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 52rem;
  position: relative;

  &__side {
    color: white;
    font-size: 2rem;

    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden;

    border-radius: 0.6rem;
    box-shadow: 0 2rem 4rem rgba($color: black, $alpha: 0.5);

    &--front {
      background-color: white;
    }

    &--back {
      transform: rotateY(180deg);
      &-1 {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-secondary-light, 0.8),
          rgba($color-secondary-dark, 0.8)
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-primary-light, 0.8),
          rgba($color-primary-dark, 0.8)
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-tertiary-light, 0.8),
          rgba($color-tertiary-dark, 0.8)
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: overlay;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-radius: 0.6rem;

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-secondary-light, 1),
          rgba($color-secondary-dark, 1)
        ),
        url(../../img/nat-5.jpg);
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-primary-light, 1),
          rgba($color-primary-dark, 1)
        ),
        url(../../img/nat-6.jpg);
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-tertiary-light, 1),
          rgba($color-tertiary-dark, 1)
        ),
        url(../../img/nat-7.jpg);
    }
  }

  &__heading {
    font-size: 2.5rem;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 15rem;
    left: 20rem;
    width: 50%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.9),
        rgba($color-secondary-dark, 0.9)
      );
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.9),
        rgba($color-primary-dark, 0.9)
      );
    }

    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.9),
        rgba($color-tertiary-dark, 0.9)
      );
    }
  }

  &__details {
    ul {
      list-style: none;
      width: 80%;
      padding-top: 2rem;
      margin: 0 auto;

      li {
        text-align: center;
        color: black;
        font-size: $default-font-size;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid #eee;
        }
      }
    }
  }

  &__cta {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__price-box {
    text-align: center;
    color: white;
    margin-bottom: 10rem;
  }

  &__price-only {
    font-size: $default-font-size;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }

  @include respond(tab-land) {
    height: auto;
    background-color: white;
    border-radius: 0.6rem;
    box-shadow: 0 2rem 4rem rgba($color: black, $alpha: 0.5);
    overflow: hidden;

    &__side {
      height: auto;
      position: relative;
      box-shadow: none;

      &--back {
        transform: rotateY(0deg);
        clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 100%);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &__cta {
      width: 100%;
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      text-align: center;
      padding: 7rem 4rem 4rem 4rem;
    }

    &__price-box {
      margin-bottom: 3rem;
    }
  }
}
