.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(black, 0.3);
  background-color: rgba(white, 0.5);
  border-radius: 0.3rem;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 2rem;

  transform: skewX(-12deg);

  @include respond(tab-port) {
    width: 100%;
    transform: skew(0);
    text-align: center;
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    background-color: transparent;
    overflow: hidden;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;

    @include respond(tab-port) {
      transform: translateX(-1.5rem) skew(0);
      display: inline-block;
      float: none;
    }
  }

  &__image {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all 0.8s ease;
    @include respond(tab-port) {
      width: 100%;
      transform: translateX(0) scale(1.4);
      display: block;
      float: none;
    }
  }

  &__text {
    transform: skewX(12deg);

    @include respond(tab-port) {
      transform: skew(0);
      margin-top: 5rem;
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: white;
    text-transform: uppercase;
    font-size: $default-font-size;
    transition: all 0.5s;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-45%, -50%);
  }

  &:hover &__image {
    transform: translateX(-4rem) scale(1);
    filter: blur(0.3rem) brightness(80%);
    @include respond(tab-port) {
      transform: translateX(0) scale(1.2);
    }
  }

  &__trans-container {
    display: inline-block;
    padding: 3rem;
    background-color: rgba(white, 0.4);
    border-radius: 2rem;
    text-align: center;
  }
}
